
.app-layout {
  display: flex;
  height: 100vh;
}
.main-content {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}
.sidebar {
  width: 200px;
  background: var(--color-sidebar);
  padding: var(--space);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidebar button {
  background: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  text-align: left;
  cursor: pointer;
}

.sidebar button.active {
  background: #d6a400ce;
}
